<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
      <plist version="1.0">
      <dict>
          <key>KeepAlive</key>
          <true/>
          <key>Label</key>
          <string>com.bill.jupyter</string>
          <key>ProgramArguments</key>
          <array>
              <string>/Users/USERNAME/anaconda3/bin/jupyter-notebook</string>
              <string>--notebook-dir</string>
              <string>/Users/USERNAME</string>
              <string>--no-browser</string>
          </array>
          <key>RunAtLoad</key>
          <true/>
          <key>StandardErrorPath</key>
          <string>/Users/USERNAME/Library/LaunchAgents/jupyter-notebook.stderr</string>
          <key>StandardOutPath</key>
          <string>/Users/USERNAME/Library/LaunchAgents/jupyter-notebook.stdout</string>
      </dict>
      </plist>